# Data Preprocessing part1(Data Description)

In [23]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [241]:
#loading in the csv file to a pandas dataframe
na_values = ['Another option not listed here or prefer not to answer',0,' '] #to remove nan related values
# add any values you consider to be null to the array if needed
dataset = pd.read_csv("Ask_A_Manager_Salary_Survey_2021_Responses_Form_Responses_1.csv", na_values= na_values)

dataset['Other monetary comp'] = dataset['Other monetary comp'].fillna(0) # replace nan with 0 in other monetary comp

us = ['us','usa','Us','USA','United States ','United States','united states','U.S.A','U.S.','u.s','U.S','United States','USA '] #List of US spellings
dataset["Country"].replace(us, "US", inplace = True) # replacing all instances of spellings with US
uk = ['uk','united kingdom','United Kingdom','United Kingdom ']
dataset["Country"].replace(uk , "UK", inplace = True) # replacing all instances of spellings with Uk
dataset

,Timestamp,How old are you?,Industry,Job title,Additional context on job title,Annual salary,Other monetary comp,Currency,Currency - other,Additional context on income,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,UK,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",0.0,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,US,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27732,3/28/2022 9:04:42,25-34,"Marketing, Advertising & PR",Marketing Automation Analyst,NaN,6500,0.0,EUR,NaN,NaN,Bosnia and Herzegovina,NaN,Banja Luka,5-7 years,1 year or less,College degree,Woman,NaN
27733,3/29/2022 20:29:47,65 or over,Health care,Compliance officer,NaN,63000,0.0,USD,NaN,NaN,US,Georgia,Columbus,31 - 40 years,5-7 years,Master's degree,Man,White
27734,3/29/2022 21:09:01,35-44,"Accounting, Banking & Finance",Certified Scrum Master,NaN,75000,0.0,USD,NaN,NaN,US,Kentucky,Vine Grove,11 - 20 years,1 year or less,College degree,Woman,White
27735,3/30/2022 20:35:48,18-24,Computing or Tech,Consultant,NaN,87000,0.0,USD,NaN,NaN,US,Illinois,Atlanta,1 year or less,1 year or less,Master's degree,Man,Asian or Asian American
27736,3/31/2022 7:52:06,35-44,Health care,"Senior Analyst, Pricing Advocate",NaN,47000,0.0,USD,NaN,NaN,US,Kentucky,Elizabethtown,11 - 20 years,5-7 years,College degree,Woman,White

# Details of the dataset

In [242]:
print(dataset.shape)  #27,737 instances and 18 columns
print(dataset.columns)
"""
Time stamp          : dropped
How old are you?    : age, but here it is in ranges so we can encode with numbers
Industry            : the industry in which they work (can be a category)
Job title           : name of job they have, string (too specific imo)
Additional context on job title : dropped
Annual salary       : money made in a year, numeric
Other monetary comp : bonuses, numeric
Curreny             : the currency of the salary, string
Current-other       : dropped
Additional context on income :dropped
Country             : country in which they work in
State               : state in which they work in
City                : city in which they work in
Overall years of experinece in field : years in which they work, becareful its in range of years and is string
Years of experince in field : like the above but specific to one field
Highest level of education : highest degree, written in strings 
Gender              : gender, written in strings
Race                : the, written in strings
"""
# Most of the attributes written in strings can be encoded into couple of numbers
# but becareful not all might work/ need it

(27737, 18)
Index(['Timestamp', 'How old are you?', 'Industry', 'Job title',
       'Additional context on job title', 'Annual salary',
       'Other monetary comp', 'Currency', 'Currency - other',
       'Additional context on income', 'Country', 'State', 'City',
       'Overall years of professional experience',
       'Years of experience in field', 'Highest level of education completed',
       'Gender', 'Race'],
      dtype='object')

'\nTime stamp          : dropped\nHow old are you?    : age, but here it is in ranges so we can encode with numbers\nIndustry            : the industry in which they work (can be a category)\nJob title           : name of job they have, string (too specific imo)\nAdditional context on job title : dropped\nAnnual salary       : money made in a year, numeric\nOther monetary comp : bonuses, numeric\nCurreny             : the currency of the salary, string\nCurrent-other       : dropped\nAdditional context on income :dropped\nCountry             : country in which they work in\nState               : state in which they work in\nCity                : city in which they work in\nOverall years of experinece in field : years in which they work, becareful its in range of years and is string\nYears of experince in field : like the above but specific to one field\nHighest level of education : highest degree, written in strings \nGender              : gender, written in strings\nRace                : the, written in strings\n'

# check what is null

In [243]:
dataset.isnull().sum()

Timestamp                                       0
How old are you?                                0
Industry                                       70
Job title                                       0
Additional context on job title             20564
Annual salary                                  11
Other monetary comp                             0
Currency                                        0
Currency - other                            27552
Additional context on income                24721
Country                                         0
State                                        4933
City                                           81
Overall years of professional experience        0
Years of experience in field                    0
Highest level of education completed          209
Gender                                        165
Race                                          778
dtype: int64

# Dropping columns that have many missing data/ not important, reason = taha xD

In [244]:
dataset = dataset.drop(columns = ['Timestamp', 'Additional context on job title', 'Currency - other','Additional context on income'])
dataset = dataset.dropna(how = 'all') #drop any instance that has all nulls
dataset

,How old are you?,Industry,Job title,Annual salary,Other monetary comp,Currency,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race
0,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,US,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,UK,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,US,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27732,25-34,"Marketing, Advertising & PR",Marketing Automation Analyst,6500,0.0,EUR,Bosnia and Herzegovina,NaN,Banja Luka,5-7 years,1 year or less,College degree,Woman,NaN
27733,65 or over,Health care,Compliance officer,63000,0.0,USD,US,Georgia,Columbus,31 - 40 years,5-7 years,Master's degree,Man,White
27734,35-44,"Accounting, Banking & Finance",Certified Scrum Master,75000,0.0,USD,US,Kentucky,Vine Grove,11 - 20 years,1 year or less,College degree,Woman,White
27735,18-24,Computing or Tech,Consultant,87000,0.0,USD,US,Illinois,Atlanta,1 year or less,1 year or less,Master's degree,Man,Asian or Asian American
27736,35-44,Health care,"Senior Analyst, Pricing Advocate",47000,0.0,USD,US,Kentucky,Elizabethtown,11 - 20 years,5-7 years,College degree,Woman,White

## Be very careful in the annual salary, other monetary comp since some currencies like yen are in the millions while usd maybe in the 10s of thousands

## Convert the data of the years to average 
## Clean The Values of 'How old are you?'

In [245]:
print(set(dataset['How old are you?']))

{'45-54', '18-24', 'under 18', '65 or over', '55-64', '35-44', '25-34'}

In [246]:
list_of_rangeing_value=[x for x in list(set(dataset['How old are you?'])) if "-" in x ]
list_of_rangeing_value

['45-54', '18-24', '55-64', '35-44', '25-34']

In [247]:
list_of_value=[x.split("-") for x in list_of_rangeing_value]
list_of_value

[['45', '54'], ['18', '24'], ['55', '64'], ['35', '44'], ['25', '34']]

In [248]:
list_of_value=[(float(x[0])+float(x[1]))//2 for x in list_of_value]
list_of_value

[49.0, 21.0, 59.0, 39.0, 29.0]

## Replace new values

In [257]:
dataset["How old are you?"].loc[dataset["How old are you?"]=="65 or over"]=65
dataset["How old are you?"].loc[dataset["How old are you?"]=="'under 18'"]=18
for value_before_get_avr,avr in zip(list_of_rangeing_value,list_of_value):
    dataset["How old are you?"].loc[dataset["How old are you?"]==value_before_get_avr]=avr

dataset["How old are you?"]

0        29.0
1        29.0
2        29.0
3        29.0
4        29.0
         ...
27732    29.0
27733      65
27734    39.0
27735    21.0
27736    39.0
Name: How old are you?, Length: 27737, dtype: object

## Handle the values in "Overall years of professional experience" coloum

In [250]:
set(dataset["Overall years of professional experience"])

{'1 year or less',
 '11 - 20 years',
 '2 - 4 years',
 '21 - 30 years',
 '31 - 40 years',
 '41 years or more',
 '5-7 years',
 '8 - 10 years'}

In [251]:
list_of_rangeing_value=[x for x in list(set(dataset['Overall years of professional experience'])) if "-" in x ]
list_of_rangeing_value

['11 - 20 years',
 '8 - 10 years',
 '21 - 30 years',
 '2 - 4 years',
 '5-7 years',
 '31 - 40 years']

In [252]:
list_of_value=[x.replace('years','').strip().split('-') for x in list_of_rangeing_value]
list_of_value

[['11 ', ' 20'],
 ['8 ', ' 10'],
 ['21 ', ' 30'],
 ['2 ', ' 4'],
 ['5', '7'],
 ['31 ', ' 40']]

In [253]:
list_of_value=[(float(x[0])+float(x[1]))//2 for x in list_of_value]
list_of_value

[15.0, 9.0, 25.0, 3.0, 6.0, 35.0]

# Replace new values

In [255]:
dataset["Overall years of professional experience"].loc[dataset["Overall years of professional experience"]=="1 year or less"]=1
dataset["Overall years of professional experience"].loc[dataset["Overall years of professional experience"]=="41 years or more"]=41
for value_before_get_avr,avr in zip(list_of_rangeing_value,list_of_value):
    dataset["Overall years of professional experience"].loc[dataset["Overall years of professional experience"]==value_before_get_avr]=avr
dataset["Overall years of professional experience"]

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0         6.0
1         9.0
2         3.0
3         9.0
4         9.0
         ...
27732     6.0
27733    35.0
27734    15.0
27735       1
27736    15.0
Name: Overall years of professional experience, Length: 27737, dtype: object

## Clean the values in "Years of experience in field" coloum

In [258]:
set(dataset["Years of experience in field"])

{'1 year or less',
 '11 - 20 years',
 '2 - 4 years',
 '21 - 30 years',
 '31 - 40 years',
 '41 years or more',
 '5-7 years',
 '8 - 10 years'}

In [259]:
list_of_rangeing_value=[x for x in list(set(dataset['Years of experience in field'])) if "-" in x ]
list_of_rangeing_value

['11 - 20 years',
 '2 - 4 years',
 '21 - 30 years',
 '8 - 10 years',
 '5-7 years',
 '31 - 40 years']

In [260]:
list_of_value=[x.replace('years','').strip().split('-') for x in list_of_rangeing_value]
list_of_value

[['11 ', ' 20'],
 ['2 ', ' 4'],
 ['21 ', ' 30'],
 ['8 ', ' 10'],
 ['5', '7'],
 ['31 ', ' 40']]

In [261]:
list_of_value=[(float(x[0])+float(x[1]))//2 for x in list_of_value]
list_of_value

[15.0, 3.0, 25.0, 9.0, 6.0, 35.0]

## Handel the values in "Years of experience in field" coloum

In [262]:
dataset["Years of experience in field"].loc[dataset["Years of experience in field"]=="1 year or less"]=1
dataset["Years of experience in field"].loc[dataset["Years of experience in field"]=="41 years or more"]=41
for value_before_get_avr,avr in zip(list_of_rangeing_value,list_of_value):
    dataset["Years of experience in field"].loc[dataset["Years of experience in field"]==value_before_get_avr]=avr
dataset["Years of experience in field"]

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0        6.0
1        6.0
2        3.0
3        6.0
4        6.0
        ...
27732      1
27733    6.0
27734      1
27735      1
27736    6.0
Name: Years of experience in field, Length: 27737, dtype: object

# Now our data is become this

In [263]:
dataset

,How old are you?,Industry,Job title,Annual salary,Other monetary comp,Currency,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race
0,29.0,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,US,Massachusetts,Boston,6.0,6.0,Master's degree,Woman,White
1,29.0,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,UK,NaN,Cambridge,9.0,6.0,College degree,Non-binary,White
2,29.0,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,US,Tennessee,Chattanooga,3.0,3.0,College degree,Woman,White
3,29.0,Nonprofits,Program Manager,"62,000",3000.0,USD,US,Wisconsin,Milwaukee,9.0,6.0,College degree,Woman,White
4,29.0,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,US,South Carolina,Greenville,9.0,6.0,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27732,29.0,"Marketing, Advertising & PR",Marketing Automation Analyst,6500,0.0,EUR,Bosnia and Herzegovina,NaN,Banja Luka,6.0,1,College degree,Woman,NaN
27733,65,Health care,Compliance officer,63000,0.0,USD,US,Georgia,Columbus,35.0,6.0,Master's degree,Man,White
27734,39.0,"Accounting, Banking & Finance",Certified Scrum Master,75000,0.0,USD,US,Kentucky,Vine Grove,15.0,1,College degree,Woman,White
27735,21.0,Computing or Tech,Consultant,87000,0.0,USD,US,Illinois,Atlanta,1,1,Master's degree,Man,Asian or Asian American
27736,39.0,Health care,"Senior Analyst, Pricing Advocate",47000,0.0,USD,US,Kentucky,Elizabethtown,15.0,6.0,College degree,Woman,White